h2 {
  text-align: center;
}

.list-item {
  text-align: center;
  margin-bottom: 30px;
}

.btn-toolbar {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 93px;
}

.publication-date {
  margin-top: 20px;
  margin-bottom: 20px;
}

iframe {
  width: 700px;
  height: 450px;
}

@media screen and (max-width: 500px) {
  iframe {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 500px) and (max-width: 700px) {
  iframe {
    width: 500px;
    height: 350px;
  }
}

@media screen and (max-width: 1000px) {
  .btn-toolbar .btn {
    margin-left: auto;
  }

  .btn-toolbar {
    margin-left: auto;
  }
}

@media screen and (min-width: 1000px) {
  .btn-toolbar .btn {
    margin-left: 5px;
  }

  .btn-toolbar {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .btn-toolbar .btn {
    margin-left: 5px;
  }

  .btn-toolbar {
    margin-left: 93px;
  }
}
