#map {
  height: 100%;
}

.gmap {
  height: 500px;
  width: 500px;
}

label {
  text-align: center !important;
}

.centred-label {
  padding-top: 2px !important;
}

.month-select {
  padding-left: 0px;
  padding-right: 0px;
}

.page-title {
  margin-bottom: 30px;
}

.control-form {
  margin-top: 30px;
}

.main-content {
  margin-bottom: 30px;
}

.video-title {
  height: 30px;
}

.thumb {
  width: 360px;
  height: 190px;
}

@media screen and (max-width: 350px) {
  .gmap {
    height: 400px;
    width: 260px;
  }
}

@media screen and (min-width: 350px) and (max-width: 450px) {
  .gmap {
    height: 400px;
    width: 300px;
  }
}
